/* mobile-device */
@media screen and (max-width:576px){
    .nav-items{
        display: none;
    }
    .nav-bar{
        padding: 52px 20px;
    }
    .menu{
        visibility: visible;
    }
    .banner{
        margin: 10px 20px;
        flex-direction: column;
        gap: 30px;
    }
    .banner-info{
        margin: 10px 0;
    }
    .banner-title{
        font-size: 3rem;
        
    }
    .btn-1{
        padding: 12px 30px;
        font-size: 1rem;
        margin-top: 30px;
    }
    .btn-2{
        padding: 12px 30px;
        margin: 40px 20px;
        font-size: 1rem;
    }
    .badge-1{
        width: 133px;
    }
    .badge-2{
        width: 133px;
        margin-left: -60px;
        margin-top: -300px;  
    }
    .circle{
        width: 2rem;
        height: 2rem;
        border-radius: 300px;  
    }
    .number-1{
        font-size: 2.6rem;
        font-weight: 700;
    }
    .banner-image{
        margin: 60px;
    }
    .habit-title{
        font-size: 2rem;
        font-weight: 800;
    }
    .habit-header{
        margin-top: 50px;
    }
    .habits-card-container{
        margin: 30px 20px;
        flex-direction: column;
        gap: 60px;
    }
    .run-section{
       flex-direction: column;
        gap: 60px;
        margin: 30px 20px;
        padding: 40px 60px;
    }
    .btn-3{
        padding: 10px 120px;
        font-size: 1.1rem;
        margin-top: 30px;
    }
    .run-image{
        width: 340px;
        height: 250px;
        border-radius: 40px;
    
    }
    .advantage-container{
        margin-top: 30px;
        padding: 30px 20px;
        flex-direction: column;
        gap: 30px;
    }
    .calculator{
        flex-direction: column;
    }
    .chart-table{
        padding: 39px 60px;
    
    }
    input{
        width: 110px;
        padding: 20px 30px;
    }
    .input-5{
        width: 350px;
    }
    .form-container{
        row-gap: 20px;
        column-gap: 0px;
    }
    .team-image-container{
        margin: 30px 20px;
        padding: 40px 20px 50px;
        display: flex;
        flex-direction: column;
    } 
    .team-mem-info{
        margin-left:60px;
    }
    .team-image{
        height: 20rem;
    }   
}